*.dep
*.ewt
*.d
*.o
*.su
*.s
tools
libsrc

project/realtek_amebaz2_v0_example/GCC-RELEASE/bootloader/
project/realtek_amebaz2_v0_example/GCC-RELEASE/key.json
project/realtek_amebaz2_v0_example/GCC-RELEASE/partition.bin
project/realtek_amebaz2_v0_example/inc/build_info.h

project/realtek_amebaz2plus_v0_example/GCC-RELEASE/bootloader/
project/realtek_amebaz2plus_v0_example/GCC-RELEASE/key.json
project/realtek_amebaz2plus_v0_example/GCC-RELEASE/partition.bin
project/realtek_amebaz2plus_v0_example/inc/build_info.h

component/common/application/matter/

component/soc/realtek/8710c/misc/bsp/lib/common/GCC/libCHIP.a
component/soc/realtek/8710c/misc/bsp/lib/common/GCC/libCHIPShell.a
component/soc/realtek/8710c/misc/bsp/lib/common/GCC/lib_main.a

